#%RAML 1.0
---
title: API GITHUB USER
baseUri: https://api.github.com/{version}
version: v1

/users: 
   /{username}
   get: 
   description: The Users 
   response:
      200:
         body:
            application/json:
               example:
                   {
                     "login": "thiagomathiassimon",
                     "id": 75398842,
                     "node_id": "MDQ6VXNlcjc1Mzk4ODQy",
                     "avatar_url": "https://avatars.githubusercontent.com/u/75398842?v=4",
                     "gravatar_id": "",
                     "url": "https://api.github.com/users/thiagomathiassimon",
                     "html_url": "https://github.com/thiagomathiassimon",
                     "followers_url": "https://api.github.com/users/thiagomathiassimon/followers",
                     "following_url": "https://api.github.com/users/thiagomathiassimon/following{/other_user}",
                     "gists_url": "https://api.github.com/users/thiagomathiassimon/gists{/gist_id}",
                     "starred_url": "https://api.github.com/users/thiagomathiassimon/starred{/owner}{/repo}",
                     "subscriptions_url": "https://api.github.com/users/thiagomathiassimon/subscriptions",
                     "organizations_url": "https://api.github.com/users/thiagomathiassimon/orgs",
                     "repos_url": "https://api.github.com/users/thiagomathiassimon/repos",
                     "events_url": "https://api.github.com/users/thiagomathiassimon/events{/privacy}",
                     "received_events_url": "https://api.github.com/users/thiagomathiassimon/received_events",
                     "type": "User",
                     "site_admin": false,
                     "name": "Thiago Mathias Simon",
                     "company": null,
                     "blog": "",
                     "location": null,
                     "email": null,
                     "hireable": null,
                     "bio": null,
                     "twitter_username": null,
                     "public_repos": 59,
                     "public_gists": 0,
                     "followers": 2,
                     "following": 3,
                     "created_at": "2020-12-02T23:19:15Z",
                     "updated_at": "2021-07-24T20:59:21Z"
                   }